<!DOCTYPE HTML>
<html class="snap-y snap-proximity scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= head.Title %></title>
    <meta name="description" content="<%= head.Description %>" />
    <meta name="keywords" content="<%= head.KeywordsSepratedWithComma %>" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="<%= head.OpenGraphTitle %>" />
    <meta property="og:description" content="<%= head.OpenGraphDescription %>" />
    <% if (head.OpenGraphImage.data) {%>
    <meta property="og:image" content="<%= link %><%= head.OpenGraphImage.data.attributes.url %>" />
    <% } %>
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
    <meta property="og:url" content="<%= baseURL %><%= pageURL %>" />
    <meta property="og:type" content="<%= head.OpenGraphType %>" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap"
      rel="stylesheet"
    />
    
  </head>
<body class="bg-black text-white relative snap-y scroll-smooth snap-proximity">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VWC7SJKK92"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VWC7SJKK92');
</script>
