<%- include('partials/header',{head:data.data.attributes['SEO'],link:link,baseURL:baseURL,pageURL:pageURL}) %> <%- include('partials/nav') %>
        <header
            class="snap-normal flex md:block snap-center 2xl:max-w-[1236px] xl:mx-w-[1080px] md:px-0 lg:max-w-[824px] md:max-w-[768px] px-5 sm:max-w-[640px] max-w-full mx-auto h-screen md:pt-[180px]">
            <img src="/public/img/about-header.svg" alt="Massive Work" class="w-full hidden md:block" />
            <img src="/public/img/about-header-sm.svg" alt="Massive Work" class="w-full md:hidden block" />
        </header>
        <description-a
            class="snap-normal 2xl:max-w-[1236px] xl:mx-w-[1080px] lg:max-w-[824px] md:max-w-[768px] sm:max-w-[640px] max-w-full mx-auto h-screen snap-center md:px-0 px-5 content-center grid md:grid-cols-2 grid-cols-1">
            <p
                class="font-instrument md:order-2 order-1 text-white mb-[34px] md:mb-0 text-base md:text-2xl max-w-[80%]">
                <%= data.data.attributes.AboutPara1  %>
            </p>
            <div class="justify-self-end md:justify-self-center">
            </div>
        </description-a>
        <founders-title
            class="snap-normal block snap-center 2xl:max-w-[1236px] xl:mx-w-[1080px] md:px-0 lg:max-w-[824px] md:max-w-[768px] px-5 sm:max-w-[640px] max-w-full mx-auto md:py-[90px]">
            <div class="mb-20 w-full">
                <div class="w-1/5 mb-4">
                    <svg viewBox="0 0 228 157" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M81.354 0.549989V35.416H61.239V157H21.009V35.416H0.894V0.549989H81.354ZM126.538 0.549989H166.768V157H126.538V94.1965H123.856V157H83.6257V0.549989H123.856V59.3305H126.538V0.549989ZM227.513 35.416H209.633V57.0955H227.513V91.9615H209.633V122.134H227.513V157H169.403V0.549989H227.513V35.416Z"
                            fill="white" />
                    </svg>
                </div>
                <div>
                    <svg viewBox="0 0 1274 323" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M116.832 74.832H81.0717V126.684H114.597V196.416H81.0717V318H0.611688V5.09998H116.832V74.832ZM120.219 83.325C120.219 29.238 149.274 0.629983 202.02 0.629983C255.66 0.629983 286.503 30.579 286.503 83.325V239.328C286.503 292.521 255.66 322.47 202.02 322.47C149.274 322.47 120.219 293.415 120.219 239.328V83.325ZM200.679 77.514V245.586C200.679 250.503 201.573 252.738 203.361 252.738C205.149 252.738 206.043 250.503 206.043 245.586V77.514C206.043 72.15 205.149 70.362 203.361 70.362C201.573 70.362 200.679 72.15 200.679 77.514ZM291.773 5.09998H372.233V245.586C372.233 250.503 373.127 252.738 374.915 252.738C376.703 252.738 377.597 250.503 377.597 245.586V5.09998H458.057V239.328C458.057 292.521 427.661 322.47 373.574 322.47C320.381 322.47 291.773 293.415 291.773 239.328V5.09998ZM556.303 5.09998H636.763V318H550.492L529.93 148.14H525.46L543.787 318H463.327V5.09998H549.598L571.948 176.748H576.418L556.303 5.09998ZM642.301 5.09998H724.549C777.742 5.09998 808.585 31.026 808.585 83.325V239.775C808.585 292.521 777.742 318 724.549 318H642.301V5.09998ZM723.208 74.832V248.268H724.102C728.125 248.268 728.125 247.374 728.125 241.116V81.984C728.125 75.726 728.125 74.832 724.102 74.832H723.208ZM930.075 74.832H894.315V118.191H930.075V187.923H894.315V248.268H930.075V318H813.855V5.09998H930.075V74.832ZM935.645 5.09998H1017.89C1071.09 5.09998 1101.93 31.92 1101.93 88.689V90.924C1101.93 143.223 1075.56 168.702 1056.33 168.702V174.066C1075.11 174.066 1101.93 203.121 1101.93 250.95V254.526C1101.93 278.217 1102.38 298.779 1106.4 318H1025.94C1021.92 298.332 1021.47 277.77 1021.47 253.632V213.402C1021.47 207.144 1021.47 206.25 1017 206.25H1016.1V318H935.645V5.09998ZM1016.1 74.832V136.518H1017C1021.47 136.518 1021.47 135.624 1021.47 129.366V81.537C1021.47 75.726 1021.47 74.832 1017 74.832H1016.1ZM1273.48 112.38H1193.02V77.514C1193.02 72.597 1192.13 70.362 1190.34 70.362C1188.55 70.362 1187.66 72.597 1187.66 77.514V102.546C1187.66 115.509 1188.55 117.744 1222.97 136.965L1235.04 143.67C1265.44 160.656 1273.48 181.218 1273.48 233.517V239.328C1273.48 292.521 1242.64 322.47 1189 322.47C1135.81 322.47 1107.2 293.415 1107.2 239.328V210.72H1187.66V245.586C1187.66 250.503 1188.55 252.738 1190.34 252.738C1192.13 252.738 1193.02 250.503 1193.02 246.033V219.66C1193.02 206.697 1192.13 204.909 1161.29 187.476L1146.98 179.43C1115.69 161.997 1107.2 139.647 1107.2 87.348V83.325C1107.2 29.238 1136.25 0.629983 1189 0.629983C1242.64 0.629983 1273.48 30.579 1273.48 83.325V112.38Z"
                            fill="white" />
                    </svg>
                </div>
            </div>
            <div class="font-instrument italic text-xl md:text-3xl mb-20 md:mb-0">
                Visionaries behind Massive Works.
            </div>
        </founders-title>
        <founders-info
            class="snap-normal block snap-center 2xl:max-w-[1236px] xl:mx-w-[1080px] md:px-0 lg:max-w-[824px] md:max-w-[768px] px-5 sm:max-w-[640px] max-w-full mx-auto md:py-[90px] font-instrument ">
            <div class="grid grid-cols-2 gap-1 md:gap-4 w-full">
                <% data.data.attributes.employees.data.forEach((empData , key)=>{ if(data.data.attributes.employees.data[key].attributes.IsFounder){%>
                <div>
                    <div class="w-full aspect-square bg-cover bg-center"
                        style="background-image: url('<%= link %><%= data.data.attributes.employees.data[key].attributes.ProfilePicture.data.attributes.url %>');" role="img" aria-label="<%= data.data.attributes.employees.data[key].attributes.ProfilePicture.data.attributes.alternativeText %>"></div>
                    <h4 class="text-lg md:text-xl mt-4"><%= data.data.attributes.employees.data[key].attributes.Name %></h4>
                    <h5 class="text-base md:text-lg italic leading-tight"><%= data.data.attributes.employees.data[key].attributes.Designation %></h5>
                </div>
                <% }}) %>
            </div>
        </founders-info>
        <our-values
            class="snap-normal my-20 block snap-center 2xl:max-w-[1236px] xl:mx-w-[1080px] md:px-0 lg:max-w-[824px] md:max-w-[768px] px-5 sm:max-w-[640px] max-w-full mx-auto md:py-[90px] font-thunder ">
            <h3 class="text-8xl mb-10 md:mb-20 md:text-[14rem] lg:text-[16rem] leading-[75%] uppercase">
                Values<br>We Value
            </h3>
            <p
                class="font-instrument md:order-2 order-1 text-white mb-[34px] md:mb-0 text-base md:text-2xl w-2/3 md:w-1/3">
                <%= data.data.attributes.AboutParaValues  %>
            </p>
        </our-values>
        <div class="bg-white text-black py-10 md:py-0">
            <idealism-a
                class="snap-normal block snap-center 2xl:max-w-[1236px] xl:mx-w-[1080px] md:px-0 lg:max-w-[824px] my-10 md:my-0 md:max-w-[768px] px-5 sm:max-w-[640px] max-w-full mx-auto md:py-[90px] font-thunder ">
                <div class="flex">
                    <h3 class="text-8xl my-10 md:my-20 md:text-[14rem] lg:text-[16rem] leading-[75%] uppercase">
                        idealism
                    </h3>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2">
                    <div class="font-instrument text-base h-full md:text-2xl flex items-center w-2/3 md:w-1/2 mr-auto">
                        <p>
                            <%= data.data.attributes.AboutParaIdealism  %>
                        </p>
                    </div>
                    <div>
                        <img class="ml-auto md:mx-auto h-40 md:h-60 mt-5 md:mt-0" src="<%= link %><%= data.data.attributes.AboutImgIdealism.data.attributes.url %>"
                            alt="<%= data.data.attributes.AboutImgIdealism.data.attributes.alternativeText %>" />
                    </div>
                </div>
            </idealism-a>
            <authencity-a
                class="snap-normal block snap-center 2xl:max-w-[1236px] xl:mx-w-[1080px] md:px-0 lg:max-w-[824px] my-10 md:my-0 md:max-w-[768px] px-5 sm:max-w-[640px] max-w-full mx-auto md:py-[90px] font-thunder ">
                <div class="flex justify-end">
                    <h3 class="text-8xl my-10 md:my-20 md:text-[14rem] lg:text-[16rem] leading-[75%] uppercase">
                        AUTHEN<br>TICITY
                    </h3>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 ">
                    <div
                        class="font-instrument text-base md:order-2 h-full md:text-2xl flex items-center w-2/3 md:ml-auto">
                        <p>
                            <%= data.data.attributes.AboutParaAuthenticity  %>
                        </p>
                    </div>
                    <div>
                        <img class="ml-auto md:mx-auto h-40 md:h-60 mt-5 md:mt-0" src="<%= link %><%= data.data.attributes.AboutImgAuthenticity.data.attributes.url %>"
                            alt="<%= data.data.attributes.AboutImgAuthenticity.data.attributes.alternativeText %>" />
                    </div>
                </div>
            </authencity-a>
            <audacity-a
                class="snap-normal block snap-center 2xl:max-w-[1236px] xl:mx-w-[1080px] md:px-0 lg:max-w-[824px] my-10 md:my-0 md:max-w-[768px] px-5 sm:max-w-[640px] max-w-full mx-auto md:py-[90px] font-thunder ">
                <div class="flex">
                    <h3 class="text-8xl my-10 md:my-20 md:text-[14rem] lg:text-[16rem] leading-[75%] uppercase">
                        AUDACITY
                    </h3>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2">
                    <div class="font-instrument text-base h-full md:text-2xl flex items-center w-2/3 md:w-1/2 mr-auto">
                        <p>
                            <%= data.data.attributes.AboutParaAudacity  %>
                        </p>
                    </div>
                    <div>
                        <img class="ml-auto md:mx-auto h-40 md:h-60 mt-5 md:mt-0" src="<%= link %><%= data.data.attributes.AboutImgAudacity.data.attributes.url %>"
                            alt="<%= data.data.attributes.AboutImgAudacity.data.attributes.alternativeText %>" />
                    </div>
                </div>
            </audacity-a>
        </div>
        <our-team
            class="snap-normal block snap-center 2xl:max-w-[1236px] xl:mx-w-[1080px] md:px-0 lg:max-w-[824px] my-10 md:my-0 md:max-w-[768px] px-5 sm:max-w-[640px] max-w-full mx-auto md:py-[90px] font-thunder ">
            <h3 class="text-8xl my-20 md:text-[14rem] lg:text-[16rem] leading-[75%] uppercase">
                Our team
            </h3>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-1 gap-y-4 md:gap-4 w-full font-instrument">
                <div>
                    <% data.data.attributes.employees.data.forEach((empData , key)=>{ if(!data.data.attributes.employees.data[key].attributes.IsFounder){%>
                    <div class="w-full aspect-square bg-cover bg-center"
                        style="background-image: url('<%= link %><%= data.data.attributes.employees.data[key].attributes.ProfilePicture.data.attributes.url %>');"></div>
                    <h4 class="text-lg md:text-xl mt-4"><%= data.data.attributes.employees.data[key].attributes.Name %></h4>
                    <h5 class="text-base md:text-lg italic leading-tight"><%= data.data.attributes.employees.data[key].attributes.Designation %></h5>
                </div>
                <% }}) %>
            </div>
        </our-team>
        <brand-we-shaped
            class="snap-normal block snap-center 2xl:max-w-[1236px] xl:mx-w-[1080px] md:px-0 lg:max-w-[824px] my-10 md:my-0 md:max-w-[768px] px-5 sm:max-w-[640px] max-w-full mx-auto md:py-[90px] font-thunder ">
            <img src="/public/img/brands-we-shaped.svg" class="block w-full" alt="">
        </brand-we-shaped>
        <brand-lists
            class="snap-normal block snap-center 2xl:max-w-[1236px] xl:mx-w-[1080px] md:px-0 lg:max-w-[824px] my-20 md:max-w-[768px] px-5 sm:max-w-[640px] max-w-full mx-auto md:py-[90px] font-thunder ">
            <h3 class="text-[3rem] md:text-[8rem] lg:text-[10rem] uppercase text-right leading-none">
                inventore
            </h3>
            <h3 class="text-[3rem] md:text-[8rem] lg:text-[10rem] uppercase text-right leading-none">
                debitis
            </h3>
            <h3 class="text-[3rem] md:text-[8rem] lg:text-[10rem] uppercase text-right leading-none">
                laboriosam
            </h3>
            <h3 class="text-[3rem] md:text-[8rem] lg:text-[10rem] uppercase text-right leading-none">
                delectus
            </h3>
            <h3 class="text-[3rem] md:text-[8rem] lg:text-[10rem] uppercase text-right leading-none">
                accusantium
            </h3>
        </brand-lists>
        <brand-qoute
            class="snap-normal snap-center 2xl:max-w-[1236px] xl:mx-w-[1080px] md:px-0 lg:max-w-[824px] my-10 md:my-0 md:max-w-[768px] px-5 sm:max-w-[640px] max-w-full mx-auto md:py-[90px] font-thunder h-screen flex justify-center items-center">
            <p class="font-instrument md:text-2xl italic w-1/3">
                Designing Unconstrained Narratives,
                Where Imagination Fuels
                Captivating Brilliance.
            </p>
        </brand-qoute>
        <%- include('partials/transation',{rescode:rescode,resmessage:resmessage}) %>
        <%- include('partials/footer')%>